/* Importing fonts style */
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Special+Elite&display=swap');


/* Custom CSS */

/* HTML style */
html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Body style */
body {
    background: url('/media/images/guitarbarn_background.jpg') no-repeat center center fixed;;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family:'Rubik', sans-serif;
    font-size: 1.7rem;
}

/* Text styling */
.shop-now-button {
    background: black;
    color: white;
    min-width: 23rem;
}
.lead {
    font-size: 1.5rem;
}

.cart-message {
    font-size: 2.3rem;
}

span.product-redirect-text {
    font-family: 'Special Elite', cursive;
}

.page-heading {
    font-family: 'Special Elite', cursive;
    font-size: 2.6rem;
}

/* Logo styling */
.logo-font,
.form-check-label  {
    font-family: 'Special Elite', cursive;
    text-transform: uppercase;
}

/* Dropdown-items list styling */
.dropdown-item {
    font-size: 1.5rem;
}

/* Product image styling */
.card-img-top {
    flex-shrink: 0;
    width: auto;
}

/* Toast message content styling */
strong.pop-up {
    font-family: 'Special Elite', cursive;
    font-size: 1.2rem;
}

.toast-body {
    font-size: 1rem;
}

/* Cloe X icon styling */
span.close-toast {
    font-size: 1.5rem;
}

/* Checkout form styling */
.form-control,
#payment-form .form-control,
#card-element {
    font-family: 'Special Elite', cursive;
    font-size: 1.3rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    height: auto;
}

/* Style imported from Code Institute course Materials (Django E Commerce module) 
// https://github.com/ckz8780/boutique_ado_v1/blob/4f4a39d898c2c347e0d0a0201e4c0d2d6ef1c500
*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

a.number-of-products {
    color: black;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-link, 
.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 7.5rem;
    left: 1rem;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
} 

.toast-capper {
    height: .06rem;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}


/* Imported from  CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Imported convenience classes - colors directly from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Media  queries */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}