/* Import fonts style */
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Special+Elite&display=swap');

/* HTML style */
html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Body style */
body {
    background: url('/media/images/guitarbarn_background.jpg') no-repeat center center fixed;;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family:'Rubik', sans-serif;
    font-size: 1.7rem;
}

/* Custom CSS and BULMA style applie for consistency */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Special Elite', cursive;
}

.page-heading {
    font-family: 'Special Elite', cursive;
    font-size: 2.6rem;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 23rem;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    font-family: 'Special Elite', cursive;
    background: white;
    color: black !important;
    border: 0.2rem solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: white;
    color: black;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.dropdown-item {
    font-size: 1.5rem;
}

a.category-badge > span.badge:hover {
    background: lightgray !important;
    color: black !important;
}

a.number-of-products {
    color: black;
}

.lead {
    font-size: 1.7rem;
}

.cart-message {
    font-size: 2.3rem;
}

span.product-redirect-text {
    font-family: 'Special Elite', cursive;
}

/* Media  queries */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}