<!-- Main nav -->
<div id="main-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-guitars-link" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
                All Guitars
            </a>
            <!-- All guitars available in store -->
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Guitars</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="acoustic-guitars-link" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
                Acoustic
            </a>
            <!-- Acoustic guitars -->
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Ibanez</a>
                <a href="" class="dropdown-item ">Epiphone</a>
                <a href="" class="dropdown-item ">Alvarez</a>
                <a href="" class="dropdown-item">All Guitars</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="electric-guitars-link" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
                Electric
            </a>
            <!-- Electric guitars -->
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Gibson</a>
                <a href="" class="dropdown-item ">Fender</a>
                <a href="" class="dropdown-item ">Yamaha</a>
                <a href="" class="dropdown-item">All Guitars</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bass-guitars-link" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
                Bass
            </a>
            <!-- Bass guitars -->
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Cort</a>
                <a href="" class="dropdown-item ">Dingwall</a>
                <a href="" class="dropdown-item ">Squier</a>
                <a href="" class="dropdown-item">All Guitars</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="offers-link" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <!-- Offers -->
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">New stock</a>
                <a href="" class="dropdown-item ">Clearence</a>
                <a href="" class="dropdown-item">All Guitars</a>
            </div>
        </li>
    </ul>
</div>